// Fonts
$principalFont: Roboto, sans-serif;

//Colors
$bgColor: #f5f6fa;
$basicColor: #fff;
$principalColor: #182C61;
$secondaryColor: #44bd32;
$thirdColor: #4cd137;

//Breakpoints
$tablet: 1023px;
$mobile: 767px;